/* reset */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #111;
}

/* font */

/* font weight: 300, 400, 700, 800

기본설정 700 */

* {
  font-family: "NanumSquare", sans-serif;

  // font-weight: 400;
}

/* color */
$green: #03c75a;
// $green: #00d564;

/* 로딩 애니메이션 페이지 */
.load-wrap {
  width: 100%;
  height: 100vh;
  background: #111;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 200;
  .load-inner {
    width: 100%;
    .load-text {
      display: flex;
      align-items: center;
      gap: 20px;
      h2 {
        font-size: 10vw;
        color: $green;
      }
      .line-wrap {
        width: 10vw;
        height: 10vw;
        position: relative;
        li {
          background: #fff;
          opacity: 0.5;
          position: absolute;
        }
        .line1 {
          width: 100%;
          height: 1px;
          top: 50%;
          transform: translateY(-50%);
          left: 0px;
        }
        .line2 {
          width: 1px;
          height: 100%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    .load-line {
      width: 100%;
      height: 1px;
      background: #fff;
      opacity: 0.5;
    }
    .load-text1 {
      animation: text-right 1.5s forwards;
      @keyframes text-right {
        100% {
          transform: translateX(30%);
        }
      }
      .line-wrap {
        animation: rotate1 1s forwards;
        @keyframes rotate1 {
          100% {
            transform: rotate(90deg);
          }
        }
      }
    }
    .load-text2 {
      justify-content: end;
      animation: text-left 1.5s forwards;
      @keyframes text-left {
        100% {
          transform: translateX(-25%);
        }
      }
      .line-wrap {
        transform: rotate(45deg);
        animation: rotate2 0.5s forwards;
        @keyframes rotate2 {
          100% {
            transform: rotate(135deg);
          }
        }
      }
    }
  }
  /* 숨기기 */
  &.hidden {
    transform: translateX(-100%);
    transition: 1s ease-in-out;
  }
}

/* wrap */
.wrap {
  width: 100%;
  /* header */
  header{
    width:100%;
    padding:70px 70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    top:0px;
    z-index:100;
    .logo {
      a{
        img{
          width:90px;
        }
      }
    }
    .ham-wrap{
      width:45px;
      height:30px;
      position:relative;
      cursor:pointer;
      li{
        width:100%;
        height:5px;
        border-radius:10px;
        background:#111;
        position:absolute;
        left:0px;
      }
      li:nth-of-type(1){
        top:0px;
      }
      li:nth-of-type(2){
        top:50%;
        transform:translateY(-50%);
      }
      li:nth-of-type(3){
        bottom:0px;
      }
    }
  }
  /* 햄버거바 누르면 나오는 메뉴 페이지 */
  .menu-wrap{
    width:70%;
    height:100vh;
    background:#03c75a;
    position:fixed;
    top:0px;
    right:0px;
    z-index:80;
    transform:translate(20%,-105%)
    rotate(15deg);
    // rotate(195deg);
    transition:0.5s;
    display:flex;
    justify-content:end;
    .menu-inner{
      width:100%;
      height:100%;
      background:#fff;
      transform:translate(20%,-105%)
      rotate(15deg);
      transition:0.5s;
      &.on{
      transform:translate(0,0) rotate(0deg);
      }
    }
    &.on{
      transform:translate(0,0) rotate(0deg);
    }
  }


  /* 영상 있는 메인 화면 */
  .con1 {
    width: 100%;
    position: relative;
    video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 20;
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0);
        /* 가상요소 적용되지 않음 */
      }
    }
    /* 어두운 배경*/
    .bg {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0px;
      left: 0px;
      background: rgba(0, 0, 0, 0.7);
    }

    .con1-text {
      position: absolute;
      bottom: 15%;
      right: 10%;

      h3 {
        font-size: 70px;
        color: #fff;
        font-weight: 800;
        margin-bottom: 3vw;
        overflow: hidden;
        line-height: 75px;
        .up-text {
          display: inline-block;
          transform: translateY(300%) rotate(45deg);
          opacity: 0;
          transition: 1s;
          &.on {
            transform: translateY(0%) rotate(0deg);
            opacity: 1;
          }
        }
        .green {
          font-size: 90px;
          color: #03c75a;
        }
      }
      .btn {
        display: flex;
        justify-content: end;
        padding-right: 4vw;
        transform: translateY(100%);
        opacity: 0;
        transition: 1s;
        &.on {
          transform: translateY(0%);
          opacity: 1;
        }
        a {
          width: 15vw;
          padding: 15px;
          display: flex;
          justify-content: center;
          gap: 2vw;
          align-items: center;
          border-radius: 30px;
          background: rgba(255, 255, 255, 1);
          transition: 0.8s;
          span {
            font-size: 18px;
            color: #03c75a;
            font-weight: 700;
          }
          img {
            width: 20px;
            display: none;
            animation: move 0.6s infinite alternate;
            @keyframes move {
              100% {
                transform: translateX(-70%);
              }
            }
          }
          &:hover {
            width: 18vw;
            background: #03c75a;
          }
          &:hover img {
            display: block;
          }
          &:hover span {
            color: #fff;
          }
        }
      }
    }
  }
  /* con2 */
  .con2 {
    height: 2200px;
    position: relative;
    padding: 200px 0px;
    .con2-inner {
      position: sticky;
      top: 50%;
      transform: translateY(-50%);
      h3 {
        color: #ccc;
        text-align: center;
        font-size: 70px;
        margin-bottom: 70px;
        .con2-text1.on {
          color: #111;
        }
        .con2-text2.on {
          color: #03c75a;
        }
        .con2-text3.on {
          color: #111;
        }
      }
      p {
        font-size: 25px;
        text-align: center;
        color: #ccc;
        height: 0px;
        overflow: hidden;
        transition: 1s;
        &.on {
          // height:auto;
          height: 180px;
        }
        .con2-text4.on {
          color: #111;
        }
        .con2-text5.on {
          color: #111;
        }
        .con2-text6.on {
          color: #111;
        }
      }
    }
  }

  /* 웹툰 슬라이드 con3 */
  .con3 {
    margin-bottom: 150px;
    ul {
      width: 135vw;
      display: flex;
      justify-content: center;
      gap: 1vw;
      transform: rotate(8deg) translateX(-500px);
      li {
        width: 15vw;
        height: 19.5vw;
        box-shadow:1.5px 1.5px 4px 4px #ccc;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .bar {
      width: 135vw;
      height: 100px;
      // background: #03c75a;
      // background:#111;
      background:#e6e6e6;
      box-shadow:1.5px 1.5px 4px 4px #f4f4f4;
      transform: rotate(-15deg) translateX(-50px);
      display: flex;
      align-items: center;
      p {
        font-size: 20px;
        // color: #fff;
        // color:#03c75a;
        color:#767676;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }
  /* service */
  .con4 {
    display: flex;
    .con4-left {
      width: 40%;
      // background: #f7f7fb;
      background:#111;
      padding-top: 200px;
      position: relative;
      color:#fff;
      .con4-left-inner {
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
        h2 {
          // color: #03c75a;
          text-align: center;
          font-size: 60px;
          font-weight: 800;
          margin-bottom: 80px;
        }
        /* service list 왼쪽 */
        .con4-list {
          li {
            text-align: center;
            font-size: 32px;
            margin-bottom: 50px;
            font-weight: 800 !important;
            position: relative;
            z-index: 10;
            .line {
              position: absolute;
              top: 50%;
              left: 50%;
              z-index: -1;
              border-radius: 20px;
              transform: translateX(-50%);
              width: 30%;
              height: 20%;
              background: #03c75a;
              opacity: 0.5;
              display: none;
            }
            &.on .line {
              display: block;
            }
          }
        }
      }
    }
    /* service 오른쪽 콘텐츠 */
    .con4-right {
      width: 60%;
      padding-top: 200px;
      padding-bottom: 280px;
      .con4-content-list {
        transform: translateX(-5%);
        perspective: 1000px;
        display: flex;
        flex-direction: column;
        gap: 100px;
        li {
          width: 60%;
          padding: 60px 50px;
          // border: 3px solid $green;
          border: 3px solid #111;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
          position: relative;
          top: 0px;
          left: 0px;

          &::before {
            content: "";
            width: 100%;
            height: 100%;
            // border: 3px solid #111;
            border: 3px solid $green;
            position: absolute;
            background: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(10px);
            top: 25px;
            left: 25px;
            z-index: -10;
            animation: onback 1s infinite alternate;
            @keyframes onback {
              100% {
                top: 5px;
                left: 5px;
              }
            }
          }
          > img {
            width: 10vw;
            height: 10vw;
          }
          .con4-content-list-text {
            display: flex;
            flex-direction: column;
            gap: 25px;
            justify-content: center;
            h4 {
              font-size: 24px;
              font-weight: 800;
            }
            p {
              font-size: 20px;
            }
            img {
              width: 50px;
            }
          }
        }
      }
    }
  }
}
